/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-font-weight) 400;
  line-height: 21px;
  background-image: url('../images/background.svg');
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  inline-size: var(--page-width);
  margin: 100px auto;

  background-color: #fff;
  border: 2px solid #000;

  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) clamp(0.875rem, -5.0626rem + 25.333vw, 7.531rem);
}

.header__title {
  font-size: 65px;  /* Заменить на clamp */
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  line-height: 100%;
}

.header__description {
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  font-size: 23px;  /* Заменить на clamp */
  text-transform: uppercase;
  line-height: 100%;
}

.main {
  margin: 0 auto;
  background-color: #fff;
  inline-size: var(--page-width);
}

.card {
  /* display: grid;
  grid-template-rows: 33px var(--page-width) max-content; */
  border: 2px solid #000;
}

.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: var(--main-font-size);
  border-bottom: 2px solid #000;
  line-height: 100%;
  padding: 4px 10px 6px;
}

.card__image-container {
  position: relative;  
}

.card__image {
  inline-size: calc(var(--page-width) - 4px);
  block-size: calc(var(--page-width) - 4px);
  object-fit: cover;
  object-position: right;
  
}

.watermark {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
}

.watermark:nth-child(1), .watermark:nth-child(2) {
  text-transform: uppercase;
}

.card__content {
  border-top: 2px solid #000;
  display: grid;
  grid-template-rows: max-content max-content min-content;
  gap: 25px;
  padding: 25px;
}

.card__content-description {
  /**/
}

.card__content-like-button {
  justify-self: end;
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 90%;
}