/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-font-weight) 400;
  line-height: 21px;
  background-image: url('../images/background.svg');
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 100vw;
  background-color: #fff;
  gap: 20px;
  border: 2px solid #000;

  height: 327px;
  margin-block-start: 100px;  /* !!!!!!!!!!!!!!! */
  margin-block-end: 100px;  /* !!!!!!!!!!!!!!! */
}

.header__title {
  font-size: 49px;  /* Заменить на clamp */
  text-transform: uppercase;
  font-family: var(--accent-font-family);
  font-weight: 400;
  line-height: 100%;
}

.header__description {
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;  /* Заменить на clamp */
  text-transform: uppercase;
}

.main {
  background-color: #fff;
}

.card {
  inline-size: 100vw;
  display: grid;
  grid-template-rows: 56px 100vw max-content;
}

.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
  border: 2px solid #000;

  padding: 0 10px;
}

.card__image-container {
  position: relative;
  border: 2px solid #000;
  
}

.card__image {
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.watermark {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
}

.watermark:nth-child(1), .watermark:nth-child(2) {
  text-transform: uppercase;
}

.card__content {
  border: 2px solid #000;
  border-top: none;
  display: grid;
  grid-template-rows: max-content max-content min-content;
  gap: 25px;
  padding: 25px;
}

.card__content-description {
  /**/
}

.card__content-like-button {
  justify-self: end;
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 90%;
}